html, body {
  height: 100%;
}

body {
  margin: 0;
}

.mono {
  font-family: 'Roboto Mono', monospace !important;
}

.x-full {
  width: 100% !important;
}

.y-auto {
  height: auto !important;
}

.y-full {
  height: 100% !important;
}
