.a-from-bottom {
  opacity: 0;
  transform: translateY(180px);
  transition-property: transform, opacity;
  
  &.higher {
    transform: translateY(140px);
  }
  
  &.lower {
    transform: translateY(220px);
  }

  &.animate {
    opacity: 1;
    transform: translateY(0px);
  }
}
