.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.smooth-corners {
  border-radius: 8px !important;
}

// width and height
$wh: 32 48 64 128;

@each $i in $wh {
  .wh-#{$i} {
    width: #{$i}px !important;
    height: #{$i}px !important;
  }
}
