// speed
$duration: 0.25 0.75 1.25 1.75 2.25 2.75;

@each $d in $duration {
  $i: index($duration, $d);
  .speed-#{$i} {
    transition-duration: #{$d}s !important;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
